<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>My Book List</title>
    <div th:insert="~{admin/fragment/head :: head}"></div>
</head>
<body id="page-top">

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div th:insert="~{admin/fragment/sidebar :: sidebar}"></div>
    </div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Topbar -->
        <div th:insert="~{admin/fragment/topbar :: topbar}"></div>
        <!-- End of Topbar -->

        <!-- Main Content -->
        <div id="content">
            <div class="container">
                <h1 class="mb-4">Thay đổi thông tin bộ</h1>
                <form th:action="@{/bos/update/{id}(id=${bo.id})}"
                      th:object="${bo}" method="post" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="name" class="form-label">Tên bộ:</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name"
                               required>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                             th:errors="*{name}">Valid name is required.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                    <a th:href="@{/bos}" class="btn btn-secondary">Quay lại</a>
                </form>
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

        <!-- Footer -->
        <div th:insert="~{admin/fragment/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Page Wrapper -->

    <div th:insert="~{admin/fragment/script :: script}"></div>

    <script th:inline="javascript">
        function deleteBook(link) {
            if (confirm('Bạn có chắc chắn?')) {
                $.ajax({
                    url: $(link).attr('href'),
                    type: 'DELETE',
                    success: result => {
                        if (!result.success) {
                            alert(result.message);
                        } else {
                            $(link).parent().parent().remove();
                        }
                    }
                });
            }
        }
    </script>
</div>
</body>
</html>