<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Renew Card</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- Include any custom stylesheets or scripts -->
  <div th:insert="~{admin/fragment/head :: head}"></div>
</head>
<body id="page-top">

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div th:insert="~{admin/fragment/sidebar :: sidebar}"></div>
  </div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Topbar -->
    <div th:insert="~{admin/fragment/topbar :: topbar}"></div>
      <h2>Gia hạn thẻ</h2>
      <div class="card">
        <div class="card-body">
          <form th:action="@{/cards/renew-card}" method="post">
            <input type="hidden" th:value="${username}" name="username">
            <div class="form-group">
              <label for="months">Số lượng sách</label>
              <input type="number" class="form-control" id="months" name="months" required>
            </div>
            <button type="submit" class="btn btn-primary">Gia hạn</button>
            <a th:href="@{/cards}" class="btn btn-secondary">Quay lại</a>
            <!-- Error message display -->
            <div th:if="${error}" class="alert alert-danger mt-2" th:text="${error}"></div>
          </form>
        </div>
      </div>
    <div th:insert="~{admin/fragment/footer :: footer}"></div>
    </div>
  </div>
<div th:insert="~{admin/fragment/script :: script}"></div>
</body>
</html>
